# Porta do servidor local
PORT=3000

# URL de conexão com o banco Neon PostgreSQL
# Exemplo com Pooler do Neon:
DATABASE_URL="postgresql://usuario:senha@ep-exemplo-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&connect_timeout=15"
